html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    overflow: hidden;
    text-transform: capitalize;
}

h1 {
    font-size: 1.5vw;
    font-weight: normal;
    margin-bottom: 20%;
}

nav {
    width: calc(20% - 10px);
    background-color: #990000;
    padding: 5px;
    height: 100%
    overflow-y: auto;
}

#map {
    height: 100%;
    width: 80%;
}


ul {
    list-style-type: none;
    padding-left: 5px;
    margin-top: 20px;
}

li {
    font-size: 1.4vw;
    margin-bottom: 20px;
}

.indyFood:hover {
    background-color: #000000;
    cursor: pointer;
}

#search-filter {
    height: 10%;
    width: 80%;
    margin-left: 10px;
    margin-bottom: 8%;
    margin-top: 20px;
}

#search {
    margin-bottom: 20%;
}

#placeInfo {
    height: 35%;
    width: calc(50% - 10px);
    padding-left: 10px;
    position: relative;
    right: -33%;
    bottom: 35%;
    transition: bottom .5s linear;
    background-color: #990000;
}

#getIndy {
    display: flex;
    flex-wrap: wrap;
}

#placeInfo.hidden {
    bottom: 0%;
}

#hideLocationDetails {
    font-weight: 100;
    width: 20%;
}

h2 {
    width: 80%;
    font-weight: 100;
    margin-bottom: 10px;
}

.pop-box {
    width: 50%;
}

#viewMenu {
    color: #ffff00;
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 20%;
}

#viewMenu:hover {
    opacity: .8;
}

img {
    max-width: 100%;
}

#foursquareLogo {
    width: 35%;
}

#hamMenu {
    display: none;
}

.menu-hidden {
    display: none;
}

@media screen and (min-width: 720px) and (max-width: 935px) {
    h1 {
        font-size: 3vw;
        color: #ffff00;
    }

    li {
        font-size: 2vw;
    }

    #hideLocationDetails {
        font-size: 3vw;
    }
}

@media screen and (max-width: 719px) {
    nav {
        padding-top: 60px;
        left: -150px;
        width: 140px;
        position: absolute;
        z-index: 2;
    }

    h1, li {
        font-size: 3vw;
    }

    #map {
        width: 100%;
    }

    body {
        display: block;
    }

    #placeInfo.hidden {
        bottom: -12%;
    }

    #placeInfo {
        width: 66%;
        right: -150px;
        bottom: 33%;
        font-size: 2.5vw;
    }

    .hamMenu {
        height: 50px;
        width: 50px;
        position: absolute;
        display: block;
        z-index: 4;
        background-color: #0E3B43;
    }

    h2 {
        font-size: 2vw;
    }
}